h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: palevioletred;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}

.index {
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

ul li a {
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
    font-weight: bold;
}

.title {
    text-align: center;
    background-color: greenyellow;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#desc {
    font-style: italic;
}

.parasalad {
    font-style: normal;
}

.ing {
    font-style: italic;
    color: sienna;
}